{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>{% block title%}{% endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/output.css'%}">
    <script type="text/javascript" src="{% static 'js/chart.js' %}" defer></script>
</head>
<body data-theme="black" class="bg-base-100 min-h-screen overflow-x-hidden m-0 p-8">
      <div class="navbar bg-base-100 border border-base-200 rounded-2xl">
        <div class="navbar-start">
          <details class="dropdown">
            <summary tabindex="0" role="button" class="btn btn-ghost md:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16" />
              </svg>
            </summary>
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
              <li><a>About us</a></li>
              <li>
                <a>Archived results</a>
              </li>
            </ul>
          </details>
          <a href="/" class="btn btn-ghost text-xl text-primary font-title rounded-2xl">SquashVote</a>
        </div>
        <div class=" navbar-end hidden md:flex">
          <ul class="menu menu-horizontal px-1 font-body text-md">
            <li><a class="rounded-2xl">About us</a></li>
            <li><a class="rounded-2xl">Archived results</a></li>
          </ul>
        </div>
      </div> 


    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
