{% extends 'vote/base.html'%}
{% load static %}
{% block title%}SquashVote | Home{% endblock%}
{% block content%}
	<div class="bg-base-100 w-full mx-auto mt-5 flex flex-col items-center space-y-2">
		{% if quota_reached %}
	    <div role="alert" class="rounded-xl p-2 bg-red-400 text-primary-content text-sm">
			<p class="text-md">API quota reached, updates will stop and resume tommorow.</p>	    
	    </div>
		{% endif %}
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
		{% for video in videos %}	
		<div class="card bg-base-200 w-80 md:w-96 card-lg p-1 rounded-2xl">

			<figure class="w-full aspect-video">
				<iframe 
				class="rounded-lg w-full h-full"
				src="{{ video.create_url }}"
				title="{{ video.title }}"
				frameborder="0"
				allowfullscreen>
				</iframe>
			</figure>
			<div class="card-body relative p-3 gap-y-0.5">
			  <a href="/video/{{ video.video_id}}" class="absolute inset-0" aria-label="{{ video.video_title }}"></a>

			  <h2 class="card-title justify-start text-primary-content text-xl font-semibold font-body">{{video.video_title}}</h2>
			  <p class="inline-block font-body">{{ video.result.total_votes }} votes</p>
			  
			</div>
				
		 </div> 
		{% endfor %}
		</div>
			
	</div>
{% endblock %}
