{% extends 'vote/base.html'%} {% load static %} 
{% block title%}SquashVote - So you think you can ref?{% endblock%} 
{% block content%}

<!--Banner-->
<div
  id="sticky-banner"
  tabindex="-1"
  class="fixed top-0 start-0 z-50 flex justify-between w-full p-4 bg-gray-600"
>
  <!--bg-gray-50 dark:bg-gray-700 dark:border-gray-600-->
  <div class="flex items-center mx-auto">
    <p class="flex items-center text-sm font-normal text-gray-200">
      <span
        >New to Squash?
        <a
          href="{% url 'rules' %}"
          class="inline font-medium text-blue-400 underline hover:no-underline"
          >Learn Squash Rules</a
        ></span
      >
    </p>
  </div>
  <div class="flex items-center">
    <button
      id="close-banner"
      type="button"
      class="shrink-0 inline-flex justify-center w-7 h-7 items-center text-black hover:text-gray-900 rounded-lg text-md p-1.5 cursor-pointer"
    >
      <svg
        class="w-3 h-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
        />
      </svg>
      <span class="sr-only">Close banner</span>
    </button>
  </div>
</div>
<h1
  class="font-black text-2xl sm:text-3xl md:text-4xl mb-5 lg:text-5xl font-videotitle text-nowrap mx-auto mt-5"
>
  So you think you can ref &#63;
</h1>
<div class="flex flex-col md:flex-row items-center justify-center mb-5">

  <!-- category -->
  <div class="flex space-x-2 p-2">
    <input
      type="radio"
      name="category"
      value="all"
      aria-label="All"
      class="btn rounded-xl"
      {% if category == "all" %}checked{% endif %}
      hx-get="{% url 'index' %}"
      hx-include="[name='category'], [name='sort']"
      hx-trigger="change"
      hx-target="#videos"
      hx-swap="innerHTML"
    />
    <input
      type="radio"
      name="category"
      value="psa"
      aria-label="PSA"
      class="btn rounded-xl"
      {% if category == "psa" %}checked{% endif %}
      hx-get="{% url 'index' %}"
      hx-include="[name='category'], [name='sort']"
      hx-trigger="change"
      hx-target="#videos"
      hx-swap="innerHTML"
    />
    <input
      type="radio"
      name="category"
      value="amateur"
      aria-label="Amateur"
      class="btn rounded-xl"
      {% if category == "amateur" %}checked{% endif %}
      hx-get="{% url 'index' %}"
      hx-include="[name='category'], [name='sort']"
      hx-trigger="change"
      hx-target="#videos"
      hx-swap="innerHTML"
    />
  </div>

  <!-- divider -->
  <div class="hidden md:block border-l-2 border-base-content h-12 mx-2 opacity-50"></div>
  <div class="md:hidden block border-t-2 border-base-content w-32 my-2 mx-auto opacity-50"></div>


  <!-- sort -->
  <div class="flex space-x-2 p-2">
    <input
      type="radio"
      name="sort"
      value="newest"
      aria-label="New"
      class="btn rounded-xl"
      {% if sorted_by == "newest" %}checked{% endif %}
      hx-get="{% url 'index' %}"
      hx-include="[name='category'], [name='sort']"
      hx-trigger="change"
      hx-target="#videos"
      hx-swap="innerHTML"
    />

    <input
      type="radio"
      name="sort"
      value="most_votes"
      aria-label="Top"
      class="btn rounded-xl"
      {% if sorted_by == "most_votes" %}checked{% endif %}
      hx-get="{% url 'index' %}"
      hx-include="[name='category'], [name='sort']"
      hx-trigger="change"
      hx-target="#videos"
      hx-swap="innerHTML"
    />

    <input
      type="radio"
      name="sort"
      value="oldest"
      aria-label="Old"
      class="btn rounded-xl"
      {% if sorted_by == "oldest" %}checked{% endif %}
      hx-get="{% url 'index' %}"
      hx-include="[name='category'], [name='sort']"
      hx-trigger="change"
      hx-target="#videos"
      hx-swap="innerHTML"
    />

  </div>

</div>


<div class="max-w-screen mb-28 px-2 sm:px-3 md:px-4">
  <div
    class="bg-base-100 w-full mt-5 flex flex-col items-center space-y-2 flex-grow p-2"
  >
    <div id="videos"
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8 w-full"
    >
      {% include "vote/partials/video_grid.html" with videos=videos %} {% comment %} {% if videos|length == 0 %} <p class="text-center text-gray-500">No videos available.</p> {% endif %} {% endcomment %}
    </div>
  </div>
</div>

<footer
  class="footer footer-horizontal footer-center bg-base-100 border-t text-base-content rounded p-4 mt-5 -mb-4"
>
  <div class="space-y-2">
    <nav class="grid grid-flow-row sm:grid-flow-col gap-3">
      <a class="link link-hover" href="{% url 'about' %}">About SquashVote</a>
      <a class="link link-hover" href="{% url 'rules' %}">
        Learn Squash Rules</a
      >
      <a
        href="mailto:illreadit@squashvote.wtf"
        target="_blank"
        class="link-hover link"
        >Contact me 💌</a
      >
    </nav>
    <aside class="text-xs md:text-sm">
      <p>
        Copyright © <span id="year"></span> - SquashVote. All right reserved.
      </p>
    </aside>
  </div>
</footer>

{% endblock %} 
{% block scripts %}

<script type="text/javascript" src="{% static 'js/banner.js' %}"></script>
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>

{% endblock %}
