{% extends "vote/base.html" %}
{% load static %}

{% block title %}
  Review Videos
{% endblock %}

{% block content %}
{% for video in videos %}
    <h1> Review Page</h1>
      <div
      id="video-{{ video.id }}"
        class="card relative bg-base-200 card-xl w-fit md:card-xl p-1 rounded-2xl transform transition duration-300 ease-in-out hover:scale-110 shadow-lgx"
      >
        <figure class="w-full aspect-video">
		  <lite-youtube referrerpolicy="no-referrer-when-downgrade"  videoid="{{ video.video_id }}" params="start={{ video.start }}&modestbranding=1&rel=0&controls=1&autohide=1" playlabel="Play {{ video.video_title }}" title="{{video.video_title}}" class="w-full h-full"></lite-youtube>
        </figure>
        <div class="card-body relative p-3 gap-y-0.5 group">
            

          <h2
            class="justify-start text-primary-content text-xl font-semibold font-videotitle break-all w-full truncate text-ellipsis whitespace-nowrap overflow-hidden min-w-0"
          >
            {{video.video_title}}
          </h2>
          <button 
          class="btn btn-success"
          hx-post="{% url 'accept_video' video.id %}" 
          hx-swap="none" 
          hx-on="htmx:afterRequest: document.getElementById('video-{{ video.id }}').remove()"
        >Accept</button>
        <button 
          class="btn btn-error"
          hx-post="{% url 'reject_video' video.id %}" 
          hx-swap="none" 
          hx-on="htmx:afterRequest: document.getElementById('video-{{ video.id }}').remove()"
        >Reject</button>
        </div>

      </div>
{% endfor %}
{% endblock %}
