SECRET_KEY=
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
REFRESH_TOKEN=
GOOGLE_API=
