# fly.toml app configuration file generated for squashvote on 2025-02-02T19:57:15-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'squashvote'
primary_region = 'sea'
console_command = '/code/manage.py shell'

[build]

[deploy]
  release_command = 'python manage.py migrate --noinput'

[env]
  PORT = '8000'

[processes]
  app = 'gunicorn --bind :8000 --workers 2 squashvote.wsgi'
  celery = "celery -A squashvote worker -l INFO"
  beat = "celery -A squashvote beat --loglevel=INFO"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
