
<div class="border rounded-lg p-4 mb-4">
    <div class="text-sm text-base-content border-b pb-2 flex justify-between">
        <span>{{ video.result.total_votes|default:"0" }} votes</span>
    </div>
    <p class="text-lg my-2">Original Referee Decision: <span class="font-semibold text-primary-content">{{ video.org_decision }}</span></p>
    <h1> You voted for <span class="font-bold capitalize text-lg text-primary">{{vote}}</span>  </h1>
</div>
<div class="flex justify-center">
    <div class="join join-vertical">
        <a class="btn btn-primary btn-wide rounded-t-lg join-item border-b-2" href="{% url 'index' %}">Watch more →</a>
        <a class="btn bg-info btn-wide rounded-b-lg join-item text-gray-800" href="{% url 'video_form'%}">Upload your own video →</a>
    </div>
    
</div>
