@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600&family=Montserrat:wght@700;800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@utility no-scrollbar {
  -ms-overflow-style: none;   /* IE/old Edge */
  scrollbar-width: none;      /* Firefox */
}

/* 2) Add the WebKit rule as plain CSS next to it */
.no-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome/Safari/Opera */
}


@plugin "daisyui/theme" {
  name: "customblack";
  default: true;
  color-scheme: "dark";
  
  --color-primary: #FF2800;
  --color-primary-content: #FFFFFF;
  --color-secondary: #fcf000;
  --color-secondary-content: #111111;
  --color-accent: #37cdbe;
  --color-accent-content: #E5E4E2;
  --color-neutral: #3d4451;
  --color-neutral-content: #ffffff;
  --color-base-100: #0f0f0f;
  --color-base-200: #272727;
  --color-base-300: #18181b;
  --color-base-content: #e5e5e5;
  --color-info: #73d1fa;
  --color-success: #36d399;
  --color-warning: #fbbd23;
  --color-error: #f87272;
}


@plugin "daisyui/theme" {
  name: "customlight";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(0.6484 0.1902 24.11);
  --color-primary-content: oklch(14% 0.005 285.823);
  --color-secondary: oklch(0.9351 0.1979 104.66);
  --color-secondary-content: oklch(14% 0.005 285.823);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}



@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-videotitle: "Montserrat", sans-serif;
  --font-body: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

html, body { font-family: var(--font-body); }
h1, h2, .sv-title { letter-spacing: 0.01em; }