{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | You Got Taxi'd!</title>
    <link rel="stylesheet" href="{% static 'css/output.css'%}">

</head>
<body>
    <main class="flex flex-col items-center justify-center min-h-screen text-center">
        <h1 class="text-4xl mb-4">🚕 Taxi! Watch your ankles!</h1>
        <p class="mb-2">404 — Looks like you went the wrong way. There's nothing here.</p>
        <a href="/" class="underline">Find your ankles</a>
    </main>
</body>
</html>

